# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual Environments
# ----------------------------
env/
env_new/
venv/
ENV/
backend/env/
backend/env_new/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Database
# ----------------------------
*.db
*.sqlite3

# ----------------------------
# Uploads
# ----------------------------
uploads/
backend/uploads/

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db